.Footer {
  width: 100%;
  margin: 0 auto;
  padding: 80px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.2);
  background-color: #1d1e28; }
  @media (max-width: 1200px) {
    .Footer {
      justify-content: center; } }
  .Footer ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    @media (max-width: 1200px) {
      .Footer ul {
        margin-top: 30px; } }
    .Footer ul li {
      display: inline-block;
      margin-left: 10px; }
