.btn {
  display: inline-flex;
  align-items: center;
  font-family: $family-type-b;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  padding: $btn-padding;
  border-radius: $btn-border-radius;
  transition: $transition-type-b;

  &.btn--default {
    color: $btn-default-color;
    background-color: $btn-default-background-color;

    &[href]:hover {
      color: $btn-default-color-hover;
      background-color: $btn-default-background-color-hover;
    }
  }

  &.btn--primary {
    color: $btn-primary-color;
    background-color: $btn-primary-background-color;

    &[href]:hover {
      color: $btn-primary-color-hover;
      background-color: $btn-primary-background-color-hover;
    }
  }

  .material-icons {
    margin-right: 5px;
  }
}