.Grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.Card {
  width: calc(100% / 5);

  &:hover {
    transform: scale(1.1);
  }

  .Card__media {
    width: 100%;
    object-fit: cover;
  }
}