.User {
  position: relative;
  width: 100%;
  height: 600px;

  .User__mask {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: $color-special;
    overflow: hidden;
  }

  .User__bg {
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    position: absolute;
    width: calc(100% + 120px);
    height: calc(100% + 120px);
    opacity: .4;
    margin: -60px;
  }

  .User__content {
    position: relative;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      text-align: center;
    }

    img {
      border-radius: 50%;
    }

    h1 {
      font-family: "Russo One", sans-serif;
      font-weight: normal;
      font-size: 80px;
      text-transform: uppercase;
      color: transparent;
      margin: 0;
      background: linear-gradient(rgba(255, 255, 255, .7) 50%, rgba(255, 255, 255, .6) 50%);
      background-clip: text;
      -webkit-background-clip: text;
    }

    h5 {
      font-family: $family-type-a;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: normal;
      color: rgba(255, 255, 255, .1);
      margin: 0;
    }
  }
}