@import url("https://fonts.googleapis.com/css?family=Russo+One");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #0c0c11; }

@keyframes featured {
  0%, 100% {
    box-shadow: 0 0 0 1px #4caf50, 0 0 20px 2px #4caf50, 0 0 40px #4caf50; }
  25% {
    box-shadow: 0 0 0 1px #f44336, 0 0 20px 2px #f44336, 0 0 40px #f44336; }
  50% {
    box-shadow: 0 0 0 1px #2196f3, 0 0 20px 2px #2196f3, 0 0 40px #2196f3; }
  75% {
    box-shadow: 0 0 0 1px #ffc107, 0 0 20px 2px #ffc107, 0 0 40px #ffc107; } }

@keyframes featuredColor {
  0%, 100% {
    background-color: #4caf50; }
  25% {
    background-color: #f44336; }
  50% {
    background-color: #2196f3; }
  75% {
    background-color: #ffc107; } }

.Portfolio {
  background-color: #ffffff;
  width: 90%;
  margin: 5% auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.2), 0 0 90px rgba(0, 0, 0, 0.3); }
  .Portfolio .Portfolio__bg {
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 1s ease-in-out; }
  .Portfolio .hide {
    display: none !important; }

.User {
  position: relative;
  width: 100%;
  height: 600px; }
  .User .User__mask {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #2c2d3d;
    overflow: hidden; }
  .User .User__bg {
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    position: absolute;
    width: calc(100% + 120px);
    height: calc(100% + 120px);
    opacity: 0.4;
    margin: -60px; }
  .User .User__content {
    position: relative;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center; }
    .User .User__content > div {
      text-align: center;
      width: 100%; }
    .User .User__content p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: rgba(255, 255, 255, 0.1);
      font-family: "Roboto", sans-serif;
      width: 90%;
      max-width: 750px;
      margin: 15px auto; }
    .User .User__content img {
      border-radius: 50%; }
    .User .User__content h1 {
      font-family: "Russo One", sans-serif;
      font-weight: normal;
      font-size: 80px;
      text-transform: uppercase;
      color: transparent;
      margin: 0;
      background: linear-gradient(rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.6) 50%);
      background-clip: text;
      -webkit-background-clip: text; }
    .User .User__content h5 {
      font-family: "Russo One", sans-serif;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: normal;
      color: rgba(255, 255, 255, 0.1);
      margin: 0; }
  .User .User__links {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px;
    padding: 0; }
    .User .User__links li {
      list-style: none;
      display: inline-block;
      margin: 0 5px; }
  .User .User__features {
    position: absolute;
    top: 0;
    right: 30px;
    bottom: initial;
    left: initial;
    margin: -1px 0 0;
    padding: 0; }
    .User .User__features li {
      list-style: none;
      display: inline-block;
      margin: 0 5px; }
    .User .User__features a {
      display: block; }
    .User .User__features img {
      border-radius: 0; }
  .User .User__info {
    position: absolute;
    top: initial;
    right: initial;
    bottom: 0;
    left: 0;
    margin: 30px;
    width: auto !important; }

.Projects {
  background-color: #2c2d3d; }
  .Projects:hover .Card:not(:hover) {
    opacity: 0.5; }

[data-tooltip]:after, [data-tooltip]:before {
  visibility: hidden;
  opacity: 0; }

[data-tooltip]:hover:after, [data-tooltip]:hover:before {
  visibility: visible;
  opacity: 1; }

[data-tooltip]:after, [data-tooltip]:before {
  transition: all 0.2s linear; }

[data-tooltip][data-tooltip-placement="top"]:after {
  position: absolute;
  top: 0;
  right: initial;
  bottom: initial;
  left: 50%;
  transform: translate(-50%, -98%); }

[data-tooltip][data-tooltip-placement="right"]:after {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: initial;
  left: initial;
  transform: translate(98%, -50%); }

[data-tooltip][data-tooltip-placement="bottom"]:after {
  position: absolute;
  top: initial;
  right: initial;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 98%); }

[data-tooltip][data-tooltip-placement="left"]:after {
  position: absolute;
  top: 50%;
  right: initial;
  bottom: initial;
  left: 0;
  transform: translate(-98%, -50%); }

[data-tooltip][data-tooltip-placement="top"]:before, [data-tooltip][data-tooltip-placement="bottom"]:before {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent; }

[data-tooltip][data-tooltip-placement="right"]:before, [data-tooltip][data-tooltip-placement="left"]:before {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; }

[data-tooltip][data-tooltip-placement="top"]:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: initial;
  left: 0; }

[data-tooltip][data-tooltip-placement="right"]:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: initial; }

[data-tooltip][data-tooltip-placement="bottom"]:before {
  position: absolute;
  top: initial;
  right: 0;
  bottom: 0;
  left: 0; }

[data-tooltip][data-tooltip-placement="left"]:before {
  position: absolute;
  top: 0;
  right: initial;
  bottom: 0;
  left: 0; }

[data-tooltip][data-tooltip-placement="top"]:hover:after {
  transform: translate(-50%, calc(-100% - 10px)); }

[data-tooltip][data-tooltip-placement="right"]:hover:after {
  transform: translate(calc(100% + 10px), -50%); }

[data-tooltip][data-tooltip-placement="bottom"]:hover:after {
  transform: translate(-50%, calc(100% + 10px)); }

[data-tooltip][data-tooltip-placement="left"]:hover:after {
  transform: translate(calc(-100% - 10px), -50%); }

[data-tooltip][data-tooltip-placement="top"]:hover:before {
  transform: translate(0, -10px); }

[data-tooltip][data-tooltip-placement="right"]:hover:before {
  transform: translate(10px, 0); }

[data-tooltip][data-tooltip-placement="bottom"]:hover:before {
  transform: translate(0, 10px); }

[data-tooltip][data-tooltip-placement="left"]:hover:before {
  transform: translate(-10px, 0); }

[data-tooltip] {
  position: relative; }
  [data-tooltip][data-tooltip-placement="top"]:before {
    border-top: 5px solid #2c2d3d; }
  [data-tooltip][data-tooltip-placement="right"]:before {
    border-right: 5px solid #2c2d3d; }
  [data-tooltip][data-tooltip-placement="bottom"]:before {
    border-bottom: 5px solid #2c2d3d; }
  [data-tooltip][data-tooltip-placement="left"]:before {
    border-left: 5px solid #2c2d3d; }
  [data-tooltip]:after {
    content: attr(data-tooltip);
    white-space: normal;
    width: 120px;
    background-color: #2c2d3d;
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5em;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    margin: auto; }
  [data-tooltip]:before {
    content: "";
    margin: auto;
    width: 0;
    height: 0;
    transform: translate(0, 0); }

.Nav {
  visibility: hidden;
  height: calc(15px * 4);
  padding: 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c2d3d;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: transform .2s ease-in-out, visibility 0s linear .2s;
  transform: translateY(-100%); }
  .Nav.Nav--is-visible {
    visibility: visible;
    transform: translateY(0);
    transition: transform .2s ease-in-out, visibility 0s linear 0s; }
  .Nav .Nav__thumbnail {
    border-radius: 50%;
    width: 36px;
    margin: 0 15px 0 0; }
  .Nav .Nav__title {
    display: flex;
    align-items: center; }
  .Nav .Nav__name {
    color: #ffffff;
    text-transform: uppercase;
    font-size: inherit;
    font-weight: inherit;
    font-family: "Russo One", sans-serif; }
  .Nav .Nav__menu {
    margin: 0;
    padding: 0;
    list-style: none; }
  .Nav .Nav__menu li {
    display: inline-block;
    margin-left: 10px; }

.badge {
  background-color: #d9d9d9;
  padding: 2px 8px;
  margin: 0 3px 3px 0;
  display: inline-block;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 10px; }

.btn {
  display: inline-flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 4px;
  transition: all 0.2s linear; }
  .btn.btn--default {
    color: #ffffff;
    background-color: transparent; }
    .btn.btn--default[href]:hover {
      color: #000000;
      background-color: #ffffff; }
  .btn.btn--primary {
    color: #000000;
    background-color: transparent; }
    .btn.btn--primary[href]:hover {
      color: #ffffff;
      background-color: #17171f; }
  .btn .material-icons {
    margin-right: 5px; }

.Card {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  width: 100%;
  position: relative;
  display: grid;
  overflow: hidden;
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.1s linear; }
  .Card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: initial;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
    height: 40%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0.2s; }
  .Card:hover {
    transform: scale(1.15);
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.6);
    z-index: 2;
    overflow: initial; }
    .Card:hover:after {
      opacity: 1; }
    .Card:hover .Card__footer {
      height: 190px; }
  .Card.Card__featured {
    z-index: 1;
    animation: featured 3s linear infinite; }
    .Card.Card__featured:hover .Card__details > div {
      animation: featuredColor 3s linear infinite; }
  .Card .Card__media {
    width: 100%;
    height: auto;
    position: relative; }
  .Card .Card__thumbnail {
    position: absolute;
    width: 100%;
    height: inherit;
    filter: blur(10px); }
  .Card .Card__details {
    position: absolute;
    top: 5px;
    right: 10px;
    bottom: initial;
    left: initial;
    display: flex;
    color: #ffffff;
    z-index: 1; }
    .Card .Card__details > div {
      display: flex;
      align-items: center;
      margin: 0 0 0 8px;
      padding: 2px 5px;
      border-radius: 2px; }
    .Card .Card__details .material-icons {
      margin-right: 5px; }
  .Card .Card__footer {
    position: absolute;
    top: initial;
    right: initial;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    padding: 0 15px;
    background-color: #ffffff;
    overflow: hidden;
    transform: translateY(100%);
    transition: height 0.2s ease-in-out 0.2s;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.6); }
    .Card .Card__footer small {
      display: block;
      margin: 15px 0 0;
      font-weight: 200; }
    .Card .Card__footer h2 {
      font-weight: 200;
      margin: 5px 0 0 0; }
    .Card .Card__footer .Card__footer-footer {
      position: absolute;
      top: initial;
      right: initial;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 5px 0px;
      border-top: 1px solid #e6e6e6;
      text-align: right;
      background-color: #f2f2f2; }
      .Card .Card__footer .Card__footer-footer .btn {
        transform: scale(0.9); }

.material-icons.md-12 {
  font-size: 12px; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-32 {
  font-size: 32px; }

.material-icons.md-48 {
  font-size: 48px; }

.Grid {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 576px) {
    .Grid .Grid__cell.xs-1 {
      max-width: 8.33333%;
      flex: 0 0 8.33333%; }
    .Grid .Grid__cell.xs-2 {
      max-width: 16.66667%;
      flex: 0 0 16.66667%; }
    .Grid .Grid__cell.xs-3 {
      max-width: 25%;
      flex: 0 0 25%; }
    .Grid .Grid__cell.xs-4 {
      max-width: 33.33333%;
      flex: 0 0 33.33333%; }
    .Grid .Grid__cell.xs-5 {
      max-width: 41.66667%;
      flex: 0 0 41.66667%; }
    .Grid .Grid__cell.xs-6 {
      max-width: 50%;
      flex: 0 0 50%; }
    .Grid .Grid__cell.xs-7 {
      max-width: 58.33333%;
      flex: 0 0 58.33333%; }
    .Grid .Grid__cell.xs-8 {
      max-width: 66.66667%;
      flex: 0 0 66.66667%; }
    .Grid .Grid__cell.xs-9 {
      max-width: 75%;
      flex: 0 0 75%; }
    .Grid .Grid__cell.xs-10 {
      max-width: 83.33333%;
      flex: 0 0 83.33333%; }
    .Grid .Grid__cell.xs-11 {
      max-width: 91.66667%;
      flex: 0 0 91.66667%; }
    .Grid .Grid__cell.xs-12 {
      max-width: 100%;
      flex: 0 0 100%; } }
  @media (min-width: 768px) {
    .Grid .Grid__cell.sm-1 {
      max-width: 8.33333%;
      flex: 0 0 8.33333%; }
    .Grid .Grid__cell.sm-2 {
      max-width: 16.66667%;
      flex: 0 0 16.66667%; }
    .Grid .Grid__cell.sm-3 {
      max-width: 25%;
      flex: 0 0 25%; }
    .Grid .Grid__cell.sm-4 {
      max-width: 33.33333%;
      flex: 0 0 33.33333%; }
    .Grid .Grid__cell.sm-5 {
      max-width: 41.66667%;
      flex: 0 0 41.66667%; }
    .Grid .Grid__cell.sm-6 {
      max-width: 50%;
      flex: 0 0 50%; }
    .Grid .Grid__cell.sm-7 {
      max-width: 58.33333%;
      flex: 0 0 58.33333%; }
    .Grid .Grid__cell.sm-8 {
      max-width: 66.66667%;
      flex: 0 0 66.66667%; }
    .Grid .Grid__cell.sm-9 {
      max-width: 75%;
      flex: 0 0 75%; }
    .Grid .Grid__cell.sm-10 {
      max-width: 83.33333%;
      flex: 0 0 83.33333%; }
    .Grid .Grid__cell.sm-11 {
      max-width: 91.66667%;
      flex: 0 0 91.66667%; }
    .Grid .Grid__cell.sm-12 {
      max-width: 100%;
      flex: 0 0 100%; } }
  @media (min-width: 992px) {
    .Grid .Grid__cell.md-1 {
      max-width: 8.33333%;
      flex: 0 0 8.33333%; }
    .Grid .Grid__cell.md-2 {
      max-width: 16.66667%;
      flex: 0 0 16.66667%; }
    .Grid .Grid__cell.md-3 {
      max-width: 25%;
      flex: 0 0 25%; }
    .Grid .Grid__cell.md-4 {
      max-width: 33.33333%;
      flex: 0 0 33.33333%; }
    .Grid .Grid__cell.md-5 {
      max-width: 41.66667%;
      flex: 0 0 41.66667%; }
    .Grid .Grid__cell.md-6 {
      max-width: 50%;
      flex: 0 0 50%; }
    .Grid .Grid__cell.md-7 {
      max-width: 58.33333%;
      flex: 0 0 58.33333%; }
    .Grid .Grid__cell.md-8 {
      max-width: 66.66667%;
      flex: 0 0 66.66667%; }
    .Grid .Grid__cell.md-9 {
      max-width: 75%;
      flex: 0 0 75%; }
    .Grid .Grid__cell.md-10 {
      max-width: 83.33333%;
      flex: 0 0 83.33333%; }
    .Grid .Grid__cell.md-11 {
      max-width: 91.66667%;
      flex: 0 0 91.66667%; }
    .Grid .Grid__cell.md-12 {
      max-width: 100%;
      flex: 0 0 100%; } }
  @media (min-width: 1200px) {
    .Grid .Grid__cell.lg-1 {
      max-width: 8.33333%;
      flex: 0 0 8.33333%; }
    .Grid .Grid__cell.lg-2 {
      max-width: 16.66667%;
      flex: 0 0 16.66667%; }
    .Grid .Grid__cell.lg-3 {
      max-width: 25%;
      flex: 0 0 25%; }
    .Grid .Grid__cell.lg-4 {
      max-width: 33.33333%;
      flex: 0 0 33.33333%; }
    .Grid .Grid__cell.lg-5 {
      max-width: 41.66667%;
      flex: 0 0 41.66667%; }
    .Grid .Grid__cell.lg-6 {
      max-width: 50%;
      flex: 0 0 50%; }
    .Grid .Grid__cell.lg-7 {
      max-width: 58.33333%;
      flex: 0 0 58.33333%; }
    .Grid .Grid__cell.lg-8 {
      max-width: 66.66667%;
      flex: 0 0 66.66667%; }
    .Grid .Grid__cell.lg-9 {
      max-width: 75%;
      flex: 0 0 75%; }
    .Grid .Grid__cell.lg-10 {
      max-width: 83.33333%;
      flex: 0 0 83.33333%; }
    .Grid .Grid__cell.lg-11 {
      max-width: 91.66667%;
      flex: 0 0 91.66667%; }
    .Grid .Grid__cell.lg-12 {
      max-width: 100%;
      flex: 0 0 100%; } }
