@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$family-type-a: 'Russo One', sans-serif;
$family-type-b: 'Roboto', sans-serif;
$color-special: #2c2d3d;

.Portfolio {
  background-color: #ffffff;
  width: 90%;
  margin: 5% auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1), 0 0 40px rgba(0, 0, 0, .2), 0 0 90px rgba(0, 0, 0, .3);

  .Portfolio__bg {
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 1s ease-in-out;
  }

  .Portfolio__btn {
    display: inline-flex;
    align-items: center;
    font-family: $family-type-b;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 4px;
    transition: all .2s linear;

    &.Portfolio__btn--primary {
      background-color: $color-special;
      color: #fff;

      &[href]:hover {
        background-color: darken($color-special, 10%);
        color: #fff;
      }
    }

    .material-icons {
      margin-right: 5px;
    }

    &[href]:hover {
      background-color: #fff;
      color: #000;
    }
  }

  .Portfolio__badge {
    background-color: #e6e6e6;
    padding: 2px 8px;
    margin: 0 3px 3px 0;
    display: inline-block;
    border-radius: 2px;
  }

  .hide {
    display: none !important;
  }
}

.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@import 'Grid';
@import 'Projects';
@import 'User';
