@mixin media($initials, $columns) {
  @for $i from 1 through $columns {
    &.#{$initials}-#{$i} {
      $w: $i * (100% / $columns);
      max-width: $w;
      flex: 0 0 #{$w};
    }
  }
}

.Grid {
  display: flex;
  flex-wrap: wrap;

  .Grid__cell {

    @each $media in $medias {
      @media (min-width: map-get($media, size)) {
        @include media(map-get($media, initials), $columns);
      }
    }

  }
}