.User {
  position: relative;
  width: $portfolio-user-w;
  height: $portfolio-user-h;

  .User__mask {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: $color-special;
    overflow: hidden;
  }

  .User__bg {
    background-size: cover;
    background-position: center;
    filter: blur($portfolio-user-bg-filter);
    position: absolute;
    width: $portfolio-user-bg-w;
    height: $portfolio-user-bg-h;
    opacity: $portfolio-user-bg-opacity;
    margin: -#{$porfolio-user-bg-margin};
  }

  .User__content {
    position: relative;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;

    @media(max-width: 992px) {
      flex-flow:column;
      justify-content: center;
    }

    > div {
      text-align: center;
      width: 100%;
    }

    p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: rgba($color-white, .1);
      font-family: $family-type-b;
      width: $portfolio-user-content-p-width;
      max-width: $portfolio-user-content-p-max-width;
      margin: #{$portfolio-user-content-p-margin} auto;
    }

    img {
      border-radius: $portfolio-user-content-img-border;
    }

    h1 {
      font-family: $family-type-a;
      font-weight: normal;
      font-size: 35px;

      @media(min-width: 992px){
        font-size: $portfolio-user-content-h1-font-size;
      }
      text-transform: uppercase;
      color: transparent;
      margin: 0;
      background: $portfolio-user-content-h1-bg;
      background-clip: text;
      -webkit-background-clip: text;
    }

    h5 {
      font-family: $family-type-a;
      font-size: $portfolio-user-content-h5-font-size;
      text-transform: uppercase;
      font-weight: normal;
      color: rgba($color-white, .1);
      margin: 0;
    }
  }

  .User__links {
    right: 0;
    bottom: 0;
    padding: 0;
    text-align:center;

    li {
      list-style: none;
      display: inline-block;
      margin: 0 5px;
    }
  }

  .User__features {
    @include absolute(0, 30px, initial, initial);
    margin: $portfolio-user-features-margin;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      margin: $portfolio-user-features-li-margin;

      @media(max-width: 992px){
        margin: 0 3px;
      }

    }

    a {
      display: block;
    }

    img {
      border-radius: 0;
    }
  }

  .User__info {
    width: auto !important;
  }
}
